<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuPic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body data-page="@ViewBag.Page">
    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-con">
            <div class="copyright-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM269.1 370.9C241 342.8 241 297.2 269.1 269.1C297.2 241 342.8 241 370.9 269.1C380.3 278.5 395.5 278.5 404.8 269.1C414.1 259.7 414.2 244.5 404.8 235.2C357.9 188.3 282 188.3 235.1 235.2C188.2 282.1 188.2 358 235.1 404.9C282 451.8 357.9 451.8 404.8 404.9C414.2 395.5 414.2 380.3 404.8 371C395.4 361.7 380.2 361.6 370.9 371C342.8 399.1 297.2 399.1 269.1 371z"/></svg>
            </div>

            <p>2026 QuiPic Limited. All rights reserved</p>
        </div>
    </footer>

    <!-- MODAL CON -->
    <div class="modal">

        <div class="modal-con memory-saved" id="memorySaved">
            <div class="modal-header">
                <div class="modal-header-con">
                    <div class="modal-logo-con">
                        <img src="~/brand/logo.png" alt="logo">
                    </div>

                    <div class="close-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
                    </div>

                </div>
                <svg width="370" height="28" viewBox="0 0 370 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14.4973L2.80069 12.2504C5.60139 9.96122 11.3056 5.5307 16.7014 6.61724C22.4312 7.74598 28.0069 14.4973 33.6597 16.1852C39.2354 17.873 44.9653 14.4973 50.3611 13.9382C56.0653 13.3369 61.6667 15.6577 67.3194 13.3686C72.8694 11.1216 78.3681 4.37031 84.0208 1.55374C89.6993 -1.22065 95.3264 -0.165747 100.979 3.81122C106.503 7.74598 112.028 14.4973 117.681 15.0564C123.333 15.6577 128.986 9.96122 134.639 7.74598C140.163 5.5307 145.688 6.58559 151.34 6.05814C156.967 5.5307 162.646 3.20992 168.299 4.37031C173.797 5.5307 179.347 9.96122 185 12.8095C190.601 15.6577 196.306 16.7126 201.701 17.873C207.431 19.0334 213.007 20.0883 218.66 17.873C224.235 15.6577 229.965 9.96122 235.361 11.1216C241.065 12.282 246.667 20.0883 252.319 21.8077C257.869 23.4639 263.368 19.0334 269.021 14.4973C274.699 9.96122 280.326 5.5307 285.979 7.18688C291.503 8.90636 297.028 16.7126 302.681 16.7443C308.333 16.7126 313.986 8.90636 319.639 6.61724C325.163 4.37031 330.688 7.74598 336.34 11.6807C341.967 15.6577 347.646 20.0883 353.299 19.0017C358.797 17.873 364.347 11.1216 367.174 7.74598L370 4.37031V28H367.199C364.399 28 358.694 28 353.299 28C347.569 28 341.993 28 336.34 28C330.765 28 325.035 28 319.639 28C313.935 28 308.333 28 302.681 28C297.131 28 291.632 28 285.979 28C280.301 28 274.674 28 269.021 28C263.497 28 257.972 28 252.319 28C246.667 28 241.014 28 235.361 28C229.837 28 224.312 28 218.66 28C213.033 28 207.354 28 201.701 28C196.203 28 190.653 28 185 28C179.399 28 173.694 28 168.299 28C162.569 28 156.993 28 151.34 28C145.765 28 140.035 28 134.639 28C128.935 28 123.333 28 117.681 28C112.131 28 106.632 28 100.979 28C95.3007 28 89.6736 28 84.0208 28C78.4965 28 72.9722 28 67.3194 28C61.6667 28 56.0139 28 50.3611 28C44.8368 28 39.3125 28 33.6597 28C28.0326 28 22.3542 28 16.7014 28C11.2028 28 5.65278 28 2.82639 28H0V14.4973Z" fill="white"/>
                </svg>
            </div>

            <div class="modal-body">
                <div class="thank-you-con">
                    <img src="~/img/thankYou.png" alt="thankYou">
                </div>

                <div class="modal-body-footer">
                    <div class="modal-body-footer-head">
                        <p class="modal-body-footer-heading semibold-text">Your Memory is Saved</p>
                        <p class="modal-body-footer-subheading">Thank you for using <span class="semibold-text">QuPic!</span></p>
                    </div>

                    <p class="modal-body-footer-text">Made by MAWDDIGAR - 12</p>
                </div>
            </div>
        </div>


        <div class="modal-con modal-con-parent">
            <div class="modal-con picture-modal" id="pictureModal">
                <div class="modal-header">
                    <div class="modal-header-con">
                        <div class="modal-logo-con">
                            <img src="~/brand/logo.png" alt="logo">
                        </div>

                        <div class="close-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
                        </div>

                    </div>
                    <svg width="370" height="28" viewBox="0 0 370 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 14.4973L2.80069 12.2504C5.60139 9.96122 11.3056 5.5307 16.7014 6.61724C22.4312 7.74598 28.0069 14.4973 33.6597 16.1852C39.2354 17.873 44.9653 14.4973 50.3611 13.9382C56.0653 13.3369 61.6667 15.6577 67.3194 13.3686C72.8694 11.1216 78.3681 4.37031 84.0208 1.55374C89.6993 -1.22065 95.3264 -0.165747 100.979 3.81122C106.503 7.74598 112.028 14.4973 117.681 15.0564C123.333 15.6577 128.986 9.96122 134.639 7.74598C140.163 5.5307 145.688 6.58559 151.34 6.05814C156.967 5.5307 162.646 3.20992 168.299 4.37031C173.797 5.5307 179.347 9.96122 185 12.8095C190.601 15.6577 196.306 16.7126 201.701 17.873C207.431 19.0334 213.007 20.0883 218.66 17.873C224.235 15.6577 229.965 9.96122 235.361 11.1216C241.065 12.282 246.667 20.0883 252.319 21.8077C257.869 23.4639 263.368 19.0334 269.021 14.4973C274.699 9.96122 280.326 5.5307 285.979 7.18688C291.503 8.90636 297.028 16.7126 302.681 16.7443C308.333 16.7126 313.986 8.90636 319.639 6.61724C325.163 4.37031 330.688 7.74598 336.34 11.6807C341.967 15.6577 347.646 20.0883 353.299 19.0017C358.797 17.873 364.347 11.1216 367.174 7.74598L370 4.37031V28H367.199C364.399 28 358.694 28 353.299 28C347.569 28 341.993 28 336.34 28C330.765 28 325.035 28 319.639 28C313.935 28 308.333 28 302.681 28C297.131 28 291.632 28 285.979 28C280.301 28 274.674 28 269.021 28C263.497 28 257.972 28 252.319 28C246.667 28 241.014 28 235.361 28C229.837 28 224.312 28 218.66 28C213.033 28 207.354 28 201.701 28C196.203 28 190.653 28 185 28C179.399 28 173.694 28 168.299 28C162.569 28 156.993 28 151.34 28C145.765 28 140.035 28 134.639 28C128.935 28 123.333 28 117.681 28C112.131 28 106.632 28 100.979 28C95.3007 28 89.6736 28 84.0208 28C78.4965 28 72.9722 28 67.3194 28C61.6667 28 56.0139 28 50.3611 28C44.8368 28 39.3125 28 33.6597 28C28.0326 28 22.3542 28 16.7014 28C11.2028 28 5.65278 28 2.82639 28H0V14.4973Z" fill="white"/>
                    </svg>
                </div>

                <div class="modal-body">
                    <div class="modal-body-picture-con">
                        <img src="~/img/sampleCardImg.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="modal-con message-modal" id="messageModal">
            <div class="modal-header">
                <div class="modal-header-con">
                    <div class="modal-logo-con">
                        <img src="~/brand/logo.png" alt="logo">
                    </div>

                    <div class="close-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z"/></svg>
                    </div>

                </div>
                <svg width="370" height="28" viewBox="0 0 370 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14.4973L2.80069 12.2504C5.60139 9.96122 11.3056 5.5307 16.7014 6.61724C22.4312 7.74598 28.0069 14.4973 33.6597 16.1852C39.2354 17.873 44.9653 14.4973 50.3611 13.9382C56.0653 13.3369 61.6667 15.6577 67.3194 13.3686C72.8694 11.1216 78.3681 4.37031 84.0208 1.55374C89.6993 -1.22065 95.3264 -0.165747 100.979 3.81122C106.503 7.74598 112.028 14.4973 117.681 15.0564C123.333 15.6577 128.986 9.96122 134.639 7.74598C140.163 5.5307 145.688 6.58559 151.34 6.05814C156.967 5.5307 162.646 3.20992 168.299 4.37031C173.797 5.5307 179.347 9.96122 185 12.8095C190.601 15.6577 196.306 16.7126 201.701 17.873C207.431 19.0334 213.007 20.0883 218.66 17.873C224.235 15.6577 229.965 9.96122 235.361 11.1216C241.065 12.282 246.667 20.0883 252.319 21.8077C257.869 23.4639 263.368 19.0334 269.021 14.4973C274.699 9.96122 280.326 5.5307 285.979 7.18688C291.503 8.90636 297.028 16.7126 302.681 16.7443C308.333 16.7126 313.986 8.90636 319.639 6.61724C325.163 4.37031 330.688 7.74598 336.34 11.6807C341.967 15.6577 347.646 20.0883 353.299 19.0017C358.797 17.873 364.347 11.1216 367.174 7.74598L370 4.37031V28H367.199C364.399 28 358.694 28 353.299 28C347.569 28 341.993 28 336.34 28C330.765 28 325.035 28 319.639 28C313.935 28 308.333 28 302.681 28C297.131 28 291.632 28 285.979 28C280.301 28 274.674 28 269.021 28C263.497 28 257.972 28 252.319 28C246.667 28 241.014 28 235.361 28C229.837 28 224.312 28 218.66 28C213.033 28 207.354 28 201.701 28C196.203 28 190.653 28 185 28C179.399 28 173.694 28 168.299 28C162.569 28 156.993 28 151.34 28C145.765 28 140.035 28 134.639 28C128.935 28 123.333 28 117.681 28C112.131 28 106.632 28 100.979 28C95.3007 28 89.6736 28 84.0208 28C78.4965 28 72.9722 28 67.3194 28C61.6667 28 56.0139 28 50.3611 28C44.8368 28 39.3125 28 33.6597 28C28.0326 28 22.3542 28 16.7014 28C11.2028 28 5.65278 28 2.82639 28H0V14.4973Z" fill="white"/>
                </svg>
            </div>

            <div class="modal-body">
                <div class="modal-body-message-con">
                    <p class="date">[ February 14, 2026 ]</p>
                    <p class="to medium-text">Dearest Mike Gliane,</p>
                    <div class="message-con">
                        <p class="medium-text">I know we are miles apart right now, but I wanted to remind you that distance means nothing when someone means everything. Even if we don’t talk every single day, I feel your presence and support constantly. I miss our laughs and adventures, but I know our bondI know we are miles apart right now, but I wanted to remind you that distance means nothing when someone means everything. Even if we don’t talk every single day, I is strong enough to last any distance. Thank you for being my rock regardless of the map, and I’m counting down the days until we can make more memories together. You are the best friend anyone could ask for."</p>
                    </div>
                    <p class="from medium-text">- you</p>
                </div>
            </div>
        </div>

        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
