@{
    ViewData["Title"] = "Home";
}

<!-- HERO SECTION -->
<div class="hero-section">
    <div class="hero-con">
        <div class="hero-head">
            <div class="hero-logo">
                <img src="~/brand/logo.png" alt="">
            </div>

            <div class="hero-head-para">
                <p class="hero-heading">Create and Customize your <span class="primary-main-text">Keychain</span></p>
                <p class="hero-subhead">Where moments become memories you can carry</p>
            </div>
        </div>

        <div class="hero-body">
            <div class="hero-keychain">
                <img src="~/img/keychain.png" alt="keychain">
            </div>

            <button class="primary-main-button hero-button"> 
               <a href="">Create Now!</a>
            </button>
        </div>
    </div>

    <svg class="hero-wave" width="1440" height="289" viewBox="0 0 1440 289" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 149.633L10.9 126.442C21.8 102.814 44 57.0847 65 68.2994C87.3 79.9496 109 149.633 131 167.054C152.7 184.475 175 149.633 196 143.862C218.2 137.656 240 161.61 262 137.983C283.6 114.791 305 45.1078 327 16.0368C349.1 -12.5988 371 -1.71075 393 39.3372C414.5 79.9496 436 149.633 458 155.404C480 161.61 502 102.814 524 79.9496C545.5 57.0847 567 67.9727 589 62.5287C610.9 57.0847 633 33.131 655 45.1078C676.4 57.0847 698 102.814 720 132.212C741.8 161.61 764 172.498 785 184.475C807.3 196.452 829 207.34 851 184.475C872.7 161.61 895 102.814 916 114.791C938.2 126.768 960 207.34 982 225.087C1003.6 242.181 1025 196.452 1047 149.633C1069.1 102.814 1091 57.0847 1113 74.1789C1134.5 91.9264 1156 172.498 1178 172.825C1200 172.498 1222 91.9264 1244 68.2994C1265.5 45.1078 1287 79.9496 1309 120.562C1330.9 161.61 1353 207.34 1375 196.125C1396.4 184.475 1418 114.791 1429 79.9496L1440 45.1078V289H1429.1C1418.2 289 1396 289 1375 289C1352.7 289 1331 289 1309 289C1287.3 289 1265 289 1244 289C1221.8 289 1200 289 1178 289C1156.4 289 1135 289 1113 289C1090.9 289 1069 289 1047 289C1025.5 289 1004 289 982 289C960 289 938 289 916 289C894.5 289 873 289 851 289C829.1 289 807 289 785 289C763.6 289 742 289 720 289C698.2 289 676 289 655 289C632.7 289 611 289 589 289C567.3 289 545 289 524 289C501.8 289 480 289 458 289C436.4 289 415 289 393 289C370.9 289 349 289 327 289C305.5 289 284 289 262 289C240 289 218 289 196 289C174.5 289 153 289 131 289C109.1 289 87 289 65 289C43.6 289 22 289 11 289H0V149.633Z" fill="white"/>
    </svg>
</div>

<!-- ABOUT US SECTION -->
<div class="about-us-section">
    <div class="section-head">
        <p class="section-title">How <span class="primary-sub-text">QuiPic</span> Works?</p>
    </div>

    <div class="about-us-body">
        <div class="about-us-row">
            <div class="about-us-content">
                <p class="about-us-heading">Capture The Moment</p>
                <p class="about-us-para" >We'll received your desired photo and message on the spot.</p>
            </div>

            <div class="about-us-img-con">
                <div class="about-us-img">
                    <img src="~/img/imageCard.png" alt="imageCard">
                </div>

                <svg class="splatter" width="275" height="358" viewBox="0 0 275 358" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M257.394 229.667C260.319 240.479 249.518 251.104 247.403 262.103C244.441 277.508 248.755 294.684 243.553 309.483C238.177 324.774 232.148 348.513 216.023 350.16C190.481 352.77 178.514 313.958 160.286 295.876C152.016 287.673 147.069 269.903 135.454 270.789C100.609 273.445 105.174 370.638 73.2271 356.474C42.562 342.879 115.974 282.39 94.0691 256.986C84.236 245.582 63.3699 262.149 48.5174 259.669C31.5079 256.829 3.03856 256.821 0.178268 239.815C-3.36548 218.745 47.0801 218.28 48.7259 196.978C49.9759 180.799 14.7468 175.193 17.2884 159.165C19.4455 145.563 40.2075 142.935 52.5884 136.903C62.5494 132.05 77.3363 134.278 84.1974 125.577C94.8269 112.098 76.7458 84.9624 89.843 73.8654C99.6368 65.5674 117.334 82.0548 128.68 76.0517C154.554 62.3625 145.155 -1.56483 174.384 0.0293006C198.742 1.35783 184.286 54.8572 205.356 67.1522C221.739 76.7122 247.284 51.3109 262.643 62.4422C276.841 72.7324 274.812 96.5908 274.988 114.125C275.151 130.359 273.017 148.36 264.523 162.196C255.019 177.677 222.401 178.821 221.859 196.978C221.383 212.905 253.234 214.286 257.394 229.667Z" fill="#FFE14C"/>
                </svg>
            </div>
        </div>

         <div class="about-us-row flex-row-reverse">
            <div class="about-us-content">
                <p class="about-us-heading">Create Your Keychain</p>
                <p class="about-us-para">Your photo will be printed and placed into a keychain within minutes</p>
            </div>

            <div class="about-us-img-con">
                <div class="about-us-img">
                    <img src="~/img/keychain.png" alt="imageCard">
                </div>

                <svg class="splatter" width="310" height="302" viewBox="0 0 310 302" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M250.651 173.76C266.343 192.105 316.882 194.71 309.213 217.601C303.464 234.762 271.471 211.46 254.37 217.387C247.662 219.712 242.156 225.389 237.522 230.768C232.489 236.609 231.048 245.312 225.856 251.011C220.702 256.667 211.847 258.544 206.927 264.404C198.148 274.86 202.867 301.008 189.238 301.803C172.205 302.797 177.735 264.171 161.846 257.953C154.611 255.121 146.896 264.469 139.133 264.15C131.714 263.845 125.374 255.735 117.985 256.466C97.4459 258.499 80.9027 301.499 64.5283 288.934C48.3661 276.533 73.7638 248.382 81.8283 229.674C87.6258 216.226 112.283 203.636 104.262 191.383C90.1215 169.781 40.9532 222.065 26.5708 200.623C19.932 190.726 46.9226 180.646 44.1229 169.061C40.0097 152.043 0.54479 157.087 0.00630839 139.587C-0.413893 125.93 20.2552 119.557 32.9532 114.513C48.0429 108.52 74.8323 123.955 81.8799 109.328C91.5591 89.2397 31.4775 69.6144 45.5752 52.3375C58.4986 36.4995 84.76 66.1457 103.434 74.4615C113.955 79.1468 124.902 96.7052 134.508 90.3512C156.999 75.474 103.811 19.1254 128.738 8.83744C143.992 2.54206 144.957 47.8816 161.416 46.688C179.479 45.378 173.625 -4.99793 190.911 0.40537C223.126 10.4749 159.356 83.2044 186.973 102.607C192.289 106.342 199.255 92.6574 205.224 95.2238C210.091 97.3168 206.319 107.87 211.093 110.169C223.695 116.237 241.526 87.9707 251.596 97.6783C257.875 103.732 245.3 114.499 244.737 123.202C244.374 128.824 247.534 134.514 247.007 140.123C246.472 145.816 241.069 150.869 241.544 156.567C242.078 162.965 246.477 168.881 250.651 173.76Z" fill="#4C6AFF"/>
                </svg>
            </div>
        </div>

         <div class="about-us-row">
            <div class="about-us-content">
                <p class="about-us-heading">Scan The QR Code</p>
                <p class="about-us-para" >Each keychain includes a unique QR Code linked to our website.</p>
            </div>

            <div class="about-us-img-con">
                <div class="about-us-img">
                    <img src="~/img/qr.png" alt="imageCard">
                </div>

                <svg class="splatter" width="325" height="346" viewBox="0 0 325 346" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M241.719 191.736C236.497 210.887 291.682 220.413 281.098 237.206C269.105 256.233 233.634 206.051 215.37 219.176C206.94 225.235 213.931 240.209 213.585 250.585C212.623 279.436 240.815 331.412 212.723 338.056C181.448 345.453 200.379 251.187 168.242 251.419C133.799 251.668 156.075 349.342 121.913 344.948C99.1161 342.017 110.486 299.57 107.796 276.744C106.136 262.665 117.946 242.148 106.484 233.805C81.2868 215.465 37.5365 282.383 15.7712 260.077C3.31161 247.308 23.0047 223.893 32.0799 208.532C40.5362 194.22 68.6116 188.575 66.8164 172.048C63.9441 145.605 0.223761 153.566 0.000484735 126.968C-0.137337 110.55 29.1514 110.052 40.771 98.4529C49.8035 89.4361 55.3458 77.0174 62.9921 66.7986C71.1757 55.8619 76.6253 40.6483 88.7844 34.4242C101.148 28.0957 118.02 27.0146 130.823 32.3987C147.959 39.6054 149.719 76.0974 168.242 74.5097C196.917 72.0518 186.243 -6.29622 214.233 0.406631C240.036 6.58592 197.858 67.6946 221.087 80.5166C247.101 94.8757 272.628 30.6672 301.09 39.1999C316.462 43.8082 326.122 65.6033 324.895 81.604C322.929 107.248 276.667 117.234 276.827 142.953C276.904 155.271 303.671 160.225 300.213 172.048C294.496 191.596 247.077 172.086 241.719 191.736Z" fill="#FF4DC4"/>
                </svg>
            </div>
        </div>

         <div class="about-us-row flex-row-reverse">
            <div class="about-us-content">
                <p class="about-us-heading">Access Your Memory</p>
                <p class="about-us-para" >Instantly view your saved photo or message anytime you scan.</p>
            </div>

            <div class="about-us-img-con">
                <div class="about-us-img">
                    <img src="~/img/phone.png" alt="imageCard">
                </div>

                <svg width="356" height="378" viewBox="0 0 356 378" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M264.775 210.025C259.055 231.002 319.504 241.437 307.91 259.831C294.774 280.674 255.919 225.705 235.913 240.083C226.679 246.719 234.336 263.121 233.958 274.487C232.904 306.089 263.785 363.023 233.014 370.301C198.755 378.403 219.492 275.147 184.289 275.401C146.561 275.673 170.963 382.664 133.542 377.851C108.57 374.64 121.025 328.145 118.078 303.141C116.26 287.719 129.196 265.245 116.641 256.107C89.0403 236.017 41.1169 309.318 17.2756 284.884C3.62749 270.897 25.199 245.249 35.1399 228.423C44.4027 212.745 75.1561 206.562 73.1897 188.459C70.0434 159.494 0.245104 168.213 0.000530971 139.079C-0.150437 121.095 31.9319 120.55 44.66 107.844C54.554 97.9669 60.6249 84.3636 69.0006 73.1702C77.9648 61.1902 83.9342 44.5255 97.2531 37.7078C110.795 30.7756 129.277 29.5914 143.301 35.4891C162.072 43.3831 164 83.3559 184.289 81.6168C215.7 78.9244 204.008 -6.89678 234.667 0.445417C262.932 7.21412 216.731 74.1516 242.176 88.1967C270.671 103.925 298.632 33.5924 329.809 42.939C346.647 47.9869 357.229 71.8608 355.885 89.3878C353.731 117.478 303.057 128.416 303.232 156.588C303.316 170.081 332.637 175.508 328.849 188.459C322.586 209.872 270.644 188.501 264.775 210.025Z" fill="#4DFF88"/>
                </svg>
            </div>
        </div>

    </div>
</div>

<!-- CREATE SECTION -->
<div class="create-section">
    <svg class="create-wave" width="1440" height="211" viewBox="0 0 1440 211" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 160.402L8.3 147.753C16.6 135.103 33 109.805 50 113.995C66.2 118.501 83 151.706 99 160.402C115.9 169.099 132 151.706 149 143.563C165.5 135.103 182 135.103 199 118.264C215.2 101.108 232 67.9032 248 67.6661C264.8 67.9032 281 101.108 298 126.644C314.5 151.706 331 169.099 348 156.212C364.1 143.8 381 101.108 397 101.345C413.8 101.108 430 143.8 447 151.943C463.4 160.402 480 135.103 497 118.264C513.1 101.108 530 93.2021 546 80.3155C562.8 67.9032 579 50.5103 596 42.3672C612.4 33.9079 629 33.9079 646 42.3672C662.1 50.5103 679 67.9032 695 84.5056C711.7 101.108 728 118.501 745 101.345C761.4 84.5056 778 33.9079 794 12.7991C811 -7.99337 828 -0.087475 844 12.7991C860.7 25.2114 877 42.6044 894 71.8562C910.3 101.108 927 143.8 943 143.563C960 143.8 977 101.108 993 88.6958C1009.7 75.8091 1026 93.2021 1043 84.5056C1059.3 75.8091 1076 42.6044 1092 25.4486C1109 8.60901 1126 8.60901 1142 33.9079C1158.6 59.2068 1175 109.805 1192 122.454C1208.3 135.103 1225 109.805 1241 101.345C1257.9 93.2021 1274 101.108 1291 88.6958C1307.6 75.8091 1324 42.6044 1341 38.098C1357.2 33.9079 1374 59.2068 1390 80.3155C1406.9 101.108 1423 118.501 1432 126.644L1440 135.103V211H1431.7C1423.4 211 1407 211 1390 211C1373.8 211 1357 211 1341 211C1324.1 211 1308 211 1291 211C1274.5 211 1258 211 1241 211C1224.8 211 1208 211 1192 211C1175.2 211 1159 211 1142 211C1125.5 211 1109 211 1092 211C1075.9 211 1059 211 1043 211C1026.2 211 1010 211 993 211C976.6 211 960 211 943 211C926.9 211 910 211 894 211C877.2 211 861 211 844 211C827.6 211 811 211 794 211C777.9 211 761 211 745 211C728.3 211 712 211 695 211C678.6 211 662 211 646 211C629 211 612 211 596 211C579.3 211 563 211 546 211C529.7 211 513 211 497 211C480 211 463 211 447 211C430.3 211 414 211 397 211C380.7 211 364 211 348 211C331 211 314 211 298 211C281.4 211 265 211 248 211C231.7 211 215 211 199 211C182.1 211 166 211 149 211C132.4 211 116 211 99 211C82.8 211 66 211 50 211C33.1 211 17 211 8 211H0V160.402Z" fill="#FFE14D"/>
    </svg>

    <div class="create-section-con">
        <div class="section-head">
            <p class="section-title">Create a Memory</p>
        </div>

        <div class="create-body">
            <div class="create-body-con">
                <div class="create-body-contents">
                    <div class="create-body-col">
                        <p>This photo will be saved as your digital memory.</p>

                        <div class="upload-con">
                            <div class="upload-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M176 544C96.5 544 32 479.5 32 400C32 336.6 73 282.8 129.9 263.5C128.6 255.8 128 248 128 240C128 160.5 192.5 96 272 96C327.4 96 375.5 127.3 399.6 173.1C413.8 164.8 430.4 160 448 160C501 160 544 203 544 256C544 271.7 540.2 286.6 533.5 299.7C577.5 320 608 364.4 608 416C608 486.7 550.7 544 480 544L176 544zM337 255C327.6 245.6 312.4 245.6 303.1 255L231.1 327C221.7 336.4 221.7 351.6 231.1 360.9C240.5 370.2 255.7 370.3 265 360.9L296 329.9L296 432C296 445.3 306.7 456 320 456C333.3 456 344 445.3 344 432L344 329.9L375 360.9C384.4 370.3 399.6 370.3 408.9 360.9C418.2 351.5 418.3 336.3 408.9 327L336.9 255z"/></svg>
                            </div>

                            <div class="upload-con-para">
                                <p class="medium-text" >Upload your Photo</p>
                                <p>No file chosen</p>
                            </div>
                        </div>

                        <div class="create-body-col-para">
                            <p>Supported Format: PNG and JPG</p>
                            <p>Maximum Size: 25MB</p>
                        </div>
                    </div>

                    <div class="create-body-col">
                        <form action="">
                            <div class="form-input-con">
                                <p class="medium-text">From</p>
                                <input type="text" placeholder="Input your name here">
                            </div>

                            <div class="form-input-con">
                                <p class="medium-text">To</p>
                                <input type="text" placeholder="Input a name here">
                            </div>

                            <div class="form-input-con">
                                <p class="medium-text">Message</p>
                                <textarea name="message" id="message" placeholder="Hi, friend...."></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="create-body-col">
                        <div class="qr-con">
                            <img src="~/img/qrSample.png" alt="qr">
                        </div>

                        <p class="medium-text">Scan Me!</p>
                    </div>
                </div>

                <div class="create-body-footer-con">
                    <p class="note"><span class="medium-text">Note:</span> This memory and message is linked to the QR code on your QuPic keychain. Once saved, scan the QR code anytime to view this memory</p>

                    <div class="create-body-button-con">
                        <button class="primary-sub-button">Generate QR</button>
                        <button class="primary-main-button">Scan QR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

