@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,900;1,900&display=swap');

:root {
    --white-h: 0;
    --white-s: 0%;
    --white-l: 100%;
    
    --black-h: 0;
    --black-s: 0%;
    --black-l: 0%;
    --black-a: 1;

    --primary-main-h: 50;
    --primary-main-s: 100%;
    --primary-main-l: 65%;

    --primary-sub-h: 230;
    --primary-sub-s: 100%;
    --primary-sub-l: 65%;

    --accent-main-h: 320;
    --accent-main-s: 100%;
    --accent-main-l: 65%;

    --accent-sub-h: 140;
    --accent-sub-s: 100%;
    --accent-sub-l: 65%;
     
    --text-h: 0;
    --text-s: 0%;
    --text-l: 20%;

    --danger-h: 0;
    --danger-s: 75%;
    --danger-l: 60%;

    --white: hsl(var(--white-h), var(--white-s), var(--white-l));
    --white-muted-text: hsl(var(--white-h), var(--white-s), calc(var(--white-l) - 10%));
    --white-muted-bg: hsl(var(--white-h), var(--white-s), calc(var(--white-l) - 5%));
    --black: hsl(var(--black-h), var(--black-s), var(--black-l));
    --black-muted-bg: hsla(var(--black-h), var(--black-s), var(--black-l), calc(var(--black-a) - 0.75));
    --black-shadow-color: hsla(var(--black-h), var(--black-s), var(--black-l), calc(var(--black-a) - 0.95));
    --grey-bg: hsl(var(--text-h), var(--text-s), var(--text-l));
    --primary-main: hsl(var(--primary-main-h), var(--primary-main-s), var(--primary-main-l));
    --primary-sub: hsl(var(--primary-sub-h), var(--primary-sub-s), var(--primary-sub-l));
    --accent-main: hsl(var(--accent-main-h), var(--accent-main-s), var(--accent-main-l));
    --accent-sub: hsl(var(--accent-sub-h), var(--accent-sub-s), var(--accent-sub-l));
    --text: hsl(var(--text-h), var(--text-s), var(--text-l));
    --text-muted: hsl(var(--text-h), var(--text-s), calc(var(--text-l) + 5%));
    --danger: hsl(var(--danger-h), var(--danger-s), var(--danger-l));


    /* THIS IS BASED ON THE `font-size: 16px;` in `html{}`. wherein, 1rem == 16px  */
    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem; /* 8px */
    --space-3: 0.75rem; /* 12px */
    --space-4: 1rem; /* 16px */
    --space-5: 1.25rem; /* 20px */
    --space-6: 1.5rem; /* 24px */
    --space-7: 2rem; /* 32px */

    --body-sm: 0.875rem; /* 14px */
    --body-md: 1rem; /* 16px */
    --body-lg: 1.125rem; /* 18px */
    --body-xl: 1.25rem; /* 20px */
    --body-2xl: 1.5rem; /* 24px */
    --heading: 2.25rem; /* 36px */

    /* USE!!! Clamp() function for section-title, section-subtitle, hero-heading, and hero-subheading */
    --section-title: 2.5rem; /* 40px */

    --hero-heading: 2.5rem; /* 40px */
    --hero-subheading: 1rem; /* 16px */

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --radius-md: 10px;
    --radius-lg: 30px;
    --radius-full: 9999px;

    --button-radius: var(--radius-md);

    --box-shadow: 0px 0px 10px 5px var(--black-shadow-color);

    --border: 1px solid var(--secondary);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fredoka", sans-serif;
}

html {
    font-size: clamp(12px, 1vw, 16px);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

a {
    text-decoration: none;
}

p, a {
    color: var(--text);
}

input, textarea {
    font-size: var(--body-md);
    font-weight: var(--font-regular);
    width: 100%;
    border: none;
    border-radius: var(--radius-md);
    padding: var(--space-2) var(--space-4);
}

textarea {
    resize: none; /* CHANGE */
}

button {
    cursor: pointer;
    background: transparent;
    padding: var(--space-2) var(--space-4);
    border: none;
    font-weight: var(--font-semi-bold);
    font-size: var(--body-lg);
    border-radius: var(--button-radius);
}

.primary-main-button {
    background: var(--primary-main);
    color: var(--text);
}

.primary-sub-button {
    background: var(--primary-sub);
    color: var(--white);
}

.primary-main-text {
    color: var(--primary-main);
}

.primary-sub-text {
    color: var(--primary-sub);
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.medium-text {
    font-weight: var(--font-medium);
}

.semibold-text {
    font-weight: var(--font-semi-bold);
}

.max-width {
    width: 100%;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.error {
    font-size: var(--body-sm);
    font-weight: var(--font-regular);
    color: var(--danger) !important;
}

/* HERO */
.hero-section {
    background: var(--primary-sub);
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.hero-section p {
    color: var(--white);
}

.hero-con {
    display: flex;
    flex-direction: column;
    padding-top: var(--space-7);
    gap: var(--space-3);
}

.hero-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
    padding: 0px var(--space-3);
}

.hero-logo {
    width: 15.625rem; /* CHANGE */
}

.hero-head-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
}

.hero-head-para p {
    text-align: center;
}

.hero-heading {
    font-size: var(--hero-heading);
    font-weight: var(--font-bold);
}

.hero-subhead {
    font-size: var(--hero-subheading);
    font-weight: var(--font-regular); /* CHANGE */
}

.hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);
}

.hero-keychain {
    width: 20.625rem;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero-button {
    transition: 0.3s ease-in-out;
}

.hero-button:hover {
    transform: scale(1.1);
}


/* ABOUT US SECTION */
.about-us-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}

.section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: var(--section-title);
    font-weight: var(--font-bold);
    text-align: center;
}

.about-us-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    padding: 0px var(--space-5);
}

.about-us-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-3);
}

.about-us-content p {
    text-align: center;
}

.about-us-heading {
    font-size: var(--heading);
    font-weight: var(--font-semi-bold);
}

.about-us-para {
    font-size: var(--body-xl);
    font-weight: var(--font-medium);
}

.about-us-img-con {
    position: relative;
}

.about-us-img {
    width: 12.25rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.splatter {
    width: 17.1875rem; /* CHANGE */
}


/* CREATE SECTION */
.create-section {
    display: flex;
    flex-direction: column;
    background: var(--primary-main);
}

.create-section-con {
    display: flex;
    flex-direction: column;
}

.create-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-7);
}

.create-body p {
    color: var(--white);
    cursor: default;
}

.create-body-con {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    background: var(--grey-bg);
    border-radius: var(--radius-md);
    padding: var(--space-7);
}

.create-body-contents {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-7);
}

.create-body-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
}

.upload {
    max-width: 300px;
}

.form {
    max-width: 500px;
}

.upload-con {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-3);
    background: var(--white-muted-bg);
    border-radius: var(--radius-md);
}

.upload-con p {
    cursor: pointer;
}

.upload-con p {
    color: var(--text);
}

.upload-icon {
    width: 30px;
}

.upload-icon svg path {
    fill: var(--primary-sub);
}

.upload-con-para {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    justify-content: center;
}

.upload-con-para p {
    text-align: center;
}

.create-body-col-para {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.create-body-col form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.form-input-con {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.form-input-con textarea {
    height: 100px;
}

.qr {
    display: none;
    gap: var(--space-1);
}

.qr-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.create-body-footer-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
}

.create-body-footer-con .note {
    max-width: 415px;
    font-size: var(--body-sm);
    font-weight: var(--font-regular);
    color: var(--white-muted-text);
    text-align: start;
}

.create-body-button-con {
    display: flex;
    justify-content: center;
    gap: var(--space-3);
}

.generate-qr {
    transition: 0.3s ease-in-out;
}

.generate-qr:hover {
    background: var(--accent-sub);
    color: var(--text);
}

.scan-qr {
    transition: 0.3s ease-in-out;
}

.scan-qr:hover {
    background: var(--accent-main);
    color: var(--white);
}

/* FOOTER */
footer {
    background: var(--primary-main);
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: var(--body-sm);
    font-weight: var(--font-regular);
    text-align: center;
}

.footer-con {
    display: flex;
    gap: var(--space-3);
}

.copyright-icon {
    width: 20px;
}

.copyright-icon svg path {
    fill: var(--text);
}

/* MODAL POP UP */
.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--black-muted-bg);
    z-index: 9999;
    width: 100%;
    height: 100vh;
    padding: var(--space-5);
}

.modal-con {
    display: none;
    flex-direction: column;
    background: var(--white);
    border-radius: var(--radius-md);
}

.modal-con-parent {
    flex: 1 1 100px;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    gap: var(--space-5);
}

.modal-header {
    display: flex;
    flex-direction: column;
    background: var(--primary-sub);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
}

.modal-header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-3) var(--space-3) 0px var(--space-3);
}

.modal-logo-con {
    width: 55px;
}

.close-icon {
    width: 20px;
    cursor: pointer;
}

.close-icon svg path {
    fill: var(--white);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px var(--space-3) var(--space-3) var(--space-3);
}

.thank-you-con {
    width: 155px;
}

.modal-body-footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.modal-body-footer p {
    text-align: center;
}

.modal-body-footer-head {
    display: flex;
    flex-direction: column;
}

.modal-body-footer-heading {
    font-size: var(--body-xl);
}

.modal-body-footer-subheading {
    font-size: var(--body-sm);
}

.modal-body-footer-text {
    font-size: var(--body-sm);
    font-weight: var(--font-regular);
}

.picture-modal {
    display: flex;
    max-width: 370px;
    max-height: 500px;
}

.modal-body-picture-con {
    max-width: 305px;
    padding: var(--space-4);
}

.modal-body-picture-con img {
    border-radius: var(--radius-md);
}

.message-modal {
    max-width: 370px;
    max-height: 500px;
    display: flex;
}

.message-modal .modal-body {
    padding: 0px var(--space-7) var(--space-7) var(--space-7);
    overflow-y: auto;
}

.modal-body-message-con {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    overflow-y: auto;
}

.date {
    text-align: end;
    font-size: var(--body-sm);
}

.to {
    text-align: start;
    font-size: var(--body-lg);
}

.message-con {
    padding-left: var(--space-3);
}

.message-con p {
    text-align: center;
    font-size: var(--body-lg);
}

.from {
    text-align: end;
    font-size: var(--body-lg);
}

/* SCANNED */

.scanned {
    min-height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: var(--space-7);
}

.scanned .splatter {
    position: absolute;
    width: max(300px, 20vw);
}

.splatter-1 {
    left: -125px;
    top: -125px;
}

.splatter-2 {
    right: -125px;
    top: -125px;
}

.splatter-3 {
    left: -125px;
    bottom: -125px;
}

.splatter-4 {
    right: -125px;
    bottom: -125px;
}

.scanned-con {
    display: flex;
    position: relative;
    z-index: 9999;
    flex-direction: column;
    border-radius: var(--radius-md);
    box-shadow: var(--box-shadow);
}

.scanned-head {
    width: 100%;
    display: flex;
    padding: var(--space-3);
    justify-content: space-between;
    align-items: center;
    background: var(--primary-main);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
}

.scanned-head-logo {
    width: 85px;
}

.scanned-body {
    padding: var(--space-7);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-3);
    background: var(--white-muted-bg);
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
}

.picture-con {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 250px;
}

.picture-con img {
    border-radius: var(--radius-md);
}

.scanned-body-picture-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanned-body-message-con {
    width: max(150px, 75vw);
    font-size: var(--body-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.message-con p {
    white-space: pre-wrap;
    word-break: break-all;
}